
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
     <div class="sidebar-wrapper"> 
        <ul class="nav">
          <li>
                <a routerLink="/User/profile">
                  <i class="nc-icon nc-single-02"></i>
                  <p>User Profile</p>
                </a>
             
            </li>
            <li >
              <a routerLink="/User/testimonial">
                <i class="nc-icon nc-pin-3"></i>
                <p>Testimonial</p>
              </a>
            </li>
          <li>
            <a href="./map.html">
              <i class="nc-icon nc-pin-3"></i>
              <p>Maps</p>
            </a>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="nc-icon nc-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
       
          <li>
            <a href="./tables.html">
              <i class="nc-icon nc-tile-56"></i>
              <p>Table List</p>
            </a>
          </li>
        </ul>
      </div>
     </div>