
.A
{
    background-color: #191c24;
}


.container
{
    display: flex;
    column-gap: 5px;
   
}
.M mat-form-field 
{
    /*background-color: black;*/
    margin-top: 30px; 
    margin-left: 70px;
   /* margin-right: 5%;
    width: 50%;*/
}
.C
{
    margin-left: 5%;
}
.C input
{
    width: 150px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 3px;
}
input ,mat-select
{
   background-color:darkgray;
   margin: 8px 0;
}

.B
{
    width: 200px;
    color: white;
    background-color:black;
    border-color: white;
    border-width: 3px;
   
}

.D
{
    color: black;
    width: 100px;
    background-color: white;
    border-color: black;
    border-width: 3px;

}

.delete
{
    margin-left: 90px;
    margin-top: 20px;
}
.delete input
{
    width: 200px;
    background-color: black;
}