<body>
    <div class="container-scroller">

     <app-admin-header></app-admin-header>
     <app-admin-side-bar></app-admin-side-bar>

     <div class="main-panel">
        <div class="content-wrapper">
            <h2>Manage Home Page Components</h2>
            <div class="form-group">
                <label for="exampleFormControlFile1">Logo</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <hr color="white">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Home Background Sentence</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Home Background Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <hr color="white">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">About Us Sentence</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">About Us Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <hr color="white">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Contact Us Sentence</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Contact Us Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              
              <button type="submit" class="btn btn-primary mr-2" >Update</button>

                    </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
      </div>

     
    </div>
</body>