
<!DOCTYPE html>
<html>
<body>
	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#0090e7" 
type = "ball-running-dots" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true"/>

			<div class="signup">
				<form [formGroup]="RegisterForm">

					<mat-label for="chk" aria-hidden="true">Sign up</mat-label>	
					<mat-form-field>
						
						<input type="text" matInput formControlName="txt" placeholder="username">
						<mat-error *ngIf="RegisterForm.controls['username'].hasError('required')">
							UserName is Requeried
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						
						<input type="email" matInput formControlName="email" placeholder="Email">
						<mat-error *ngIf="RegisterForm.controls['email'].hasError('email')">
							Please Enter a valid email
						</mat-error>
						<mat-error *ngIf="RegisterForm.controls['email'].hasError('required')">
							Email is required
						  </mat-error>
					</mat-form-field>

					<mat-form-field class="example-full-width">
						<mat-label>Password</mat-label>
						<input type="password" matInput formControlName="pswd">
						<mat-error *ngIf="RegisterForm.controls['password'].hasError('minlength')">
						  Please enter a valid password
						</mat-error>
						<mat-error *ngIf="RegisterForm.controls['password'].hasError('required')">
						  Password is required
						</mat-error>
					  </mat-form-field>

					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form [formGroup]="LoginForm">
					<mat-label for="chk" aria-hidden="true">Login</mat-label>
					<mat-form-field>
						
						<input type="email" matInput formControlName="email" placeholder="Email">
						<mat-error *ngIf="LoginForm.controls['email'].hasError('email')">
							Please Enter a valid email
						</mat-error>
						<mat-error *ngIf="LoginForm.controls['email'].hasError('required')">
							Email is required
						  </mat-error>
					</mat-form-field>


					<mat-form-field class="example-full-width">
						<mat-label>Password</mat-label>
						<input type="password" matInput formControlName="pswd">
						<mat-error *ngIf="LoginForm.controls['password'].hasError('minlength')">
						  Please enter a valid password
						</mat-error>
						<mat-error *ngIf="LoginForm.controls['password'].hasError('required')">
						  Password is required
						</mat-error>
					  </mat-form-field>
					<!---<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">-->
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>