<!-- <div class ="row">
	<div class="col-md-6 mx-auto p-0">
		<div class="card">
<div class="login-box">
	<div class="login-snip">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-space">
			<div class="login">
				<form [formGroup]="LoginForm">
				<div class="group">
					<mat-label class="label" for="chk"  aria-hidden="true">Email Address</mat-label>
						
					  
						<input type="email" class="input" matInput formControlName="email"  placeholder="mm@gmail">
						<mat-error *ngIf="LoginForm.controls['email'].hasError('email')">
							Please Enter a valid email
						</mat-error>
						<mat-error *ngIf="LoginForm.controls['email'].hasError('required')">
							Email is required
						</mat-error>
				</div>
				<div class="group">
					<mat-label class="label" for="chk" aria-hidden="true">Password</mat-label>	
						
						<input id="pass" type="password" matInput class="input" data-type="password" placeholder="Create your password">
						<mat-error *ngIf="LoginForm.controls['password'].hasError('minlength')">
							Please enter a valid password
						  </mat-error>
						  <mat-error *ngIf="LoginForm.controls['password'].hasError('required')">
							Password is required
						  </mat-error>
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In"  (click)="GetData()"  [disabled]="LoginForm.invalid">
				</div>
			</form>


				<div class="hr"></div>
				<div class="foot">
					<a href="#">Forgot Password?</a>
				</div>
			</div>



			<div class="sign-up-form">

				<form [formGroup]="RegisterForm">

					<div class="group">
						<mat-label class="label" for="chk"  aria-hidden="true">Username</mat-label>	
						
						<input id="user" type="text" class="input" matInput  placeholder="Create your Username">
						<mat-error *ngIf="RegisterForm.controls['username'].hasError('required')">
							UserName is Requeried
						</mat-error>
					</div>
					<div class="group">
						<mat-label class="label" for="chk" aria-hidden="true">Password</mat-label>	
						
						<input id="pass" type="password" matInput class="input" data-type="password" placeholder="Create your password">
						<mat-error *ngIf="RegisterForm.controls['password'].hasError('minlength')">
							Please enter a valid password
						  </mat-error>
						  <mat-error *ngIf="RegisterForm.controls['password'].hasError('required')">
							Password is required
						  </mat-error>
					</div>
					<div class="group">
						<mat-label class="label" for="chk" matInput aria-hidden="true">Email Address</mat-label>
						
						<input id="pass" type="text" class="input" placeholder="Enter your email address">
						<mat-error *ngIf="RegisterForm.controls['email'].hasError('email')">
							Please Enter a valid email
						</mat-error>
						<mat-error *ngIf="RegisterForm.controls['email'].hasError('required')">
							Email is required
						  </mat-error>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In" routerLink="Home/main">
					</div>

				</form>
				
				<div class="hr"></div>
				<div class="foot">
					<label for="tab-1">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>   
</div>
</div>
</div>
 -->
 
<app-home-header></app-home-header> 
<div class="d-flex justify-content-center align-items-center mt-5">


	<div class="card">

		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item text-center">
			  <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a>
			</li>
			<li class="nav-item text-center">
			  <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Signup</a>
			</li>
		   
		  </ul>
		  <div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="form px-4 pt-5">
				<form [formGroup]="LoginForm" class="form px-4 pt-5 ">
					<mat-form-field appearance="fill" style="width: 100%; " >
					<input type="email" style="width: 127%;     padding-right: 51px;" class="form-control" matInput   placeholder="Email or Phone" formControlName="email" >
				
					<mat-error *ngIf="LoginForm.controls['email'].hasError('email')">
						Please enter a valid email address
					</mat-error>
					<mat-error *ngIf="LoginForm.controls['email'].hasError('required')">
						Email is <strong>required</strong>
					</mat-error>
				</mat-form-field>
				
				<mat-form-field appearance="fill" style="width: 100%; " >
					<input type="email" style="width: 127%;     padding-right: 51px;" class="form-control" matInput   placeholder="Password" formControlName="password" >
				
					<mat-error *ngIf="LoginForm.controls['password'].hasError('minlength')">
						min Length for password is 5 
					</mat-error>
					<mat-error *ngIf="LoginForm.controls['password'].hasError('required')">
						password is <strong>required</strong>
					</mat-error>
					
				</mat-form-field>
				
					
				
					<button class="btn btn-dark btn-block" [disabled]="LoginForm.invalid" >Login</button>
			  
			
				 
			  </form>
			   </div>
			  

			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
			  

			  <div class="form px-4">
               
				<form [formGroup]="RegisterForm" >
				<input type="text" name="" class="form-control" placeholder="FirstName">
				<small *ngIf="RegisterForm.controls.username.invalid">
					Name is required
				  </small>

				<input type="text" name="" class="form-control" placeholder="LastName">

				<input type="text" name="" class="form-control" placeholder="Email">

				<input type="text" name="" class="form-control" formControlName="username" placeholder="UserName">
				<input type="text" name="" class="form-control" placeholder="Password">
				<input type="text" name="" class="form-control" placeholder="">

				<button class="btn btn-dark btn-block">Signup</button>
				
			</form>
			  </div>
			


			</div>
		
		   </div>
		
	  
	  

	</div>
	

  </div>