<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#0090e7" 
type = "ball-running-dots" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-home-header></app-home-header>


<div class="intro-section" style="background-image: url('../../../assets/Image/{{con.contactbackimage}}');">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
              <h1 style="font-weight:500">{{con.contactbackword}}</h1>
              <p class="text-white text-center">
                  <a routerLink="/">Home</a>
                  <span class="mx-2">/</span>
                  <span>Contact Us</span>
              </p>
          </div>
      </div>
  </div>
</div>


<div class="site-section">


  <div class="contact-form">
      <div style="background-color:#1089FF;margin-left:30px" class="contact-form-box__left">
          <h3 class="m-b-15"> {{con.contactformword}}</h3>
          <hr>
          
          <div>
              <small class="light-grey"><i class="fas fa-envelope m-r-5"></i> Email</small>
              <p>{{con.contactformemail}}</p>
          </div>
          <div>
              <small class="light-grey"><i class="fas fa-phone m-r-5"></i> Phone</small>
              <p>
                {{con.contactformphone}}
              </p>
          </div>
          <div>
              <small class="light-grey"><i class="fas fa-map-marker m-r-5"></i> Address</small>
              <p>{{con.contactformadress}}</p>
          </div>
          <div class="contact-form-box__left_footer"> <a href="#!"><i class="fab fa-facebook-f"></i></a> <a href="#!"><i class="fab fa-twitter"></i></a> <a href="#!"><i class="fab fa-instagram"></i></a> <a href="#!"><i class="fab fa-youtube"></i></a> </div>
      </div>

      <div class="contact-form-box__right">
          <h3 class="m-b-15">Contact Us</h3>
          <hr>
          <form>
              <div class="lab-grid mb-4">
                <form [formGroup]="CreateContatc">
                  <div class="lab-grid-cell lab-grid-cell--mb-2x w-third--d w-half--t w-full--m">
                      <div class="floating-label-wrap">
                          <input type="text" class="floating-label-field floating-label-field--s1" formControlName="Subject" placeholder="Full Name">
                          <label for="field-1" class="floating-label">Subject</label>
                          <small style="color:black" [class.d-none]="CreateContatc.controls.Subject.valid || CreateContatc.controls.Subject.untouched ">Subject is required</small><br>
                      </div>
                      <!-- .floating-label-wrap -->
                  </div>
                  <!-- .lab-grid-cell lab-grid-cell--mb-2x -->

                  <div class="lab-grid-cell lab-grid-cell--mb-2x w-third--d w-half--t w-full--m">
                      <div class="floating-label-wrap">
                          <input type="text" class="floating-label-field floating-label-field--s1" id="field-2" placeholder="Name" formControlName="Name">
                          <label for="field-2" class="floating-label">Name</label>
                          <small style="color:black" [class.d-none]="CreateContatc.controls.Name.valid || CreateContatc.controls.Name.untouched ">Name is required</small><br>
                      </div>
                      <!-- .floating-label-wrap -->
                  </div>
                  <!-- .lab-grid-cell lab-grid-cell--mb-2x -->

                  <!-- .lab-grid-cell lab-grid-cell--mb-2x -->

                  <div class="lab-grid-cell lab-grid-cell--mb-2x w-third--d w-half--t w-full--m">
                      <div class="floating-label-wrap">
                          <input type="email" class="floating-label-field floating-label-field--s1" id="field-4" placeholder="Email" formControlName="Email">
                          <label for="field-4" class="floating-label">Email</label>
                          <small style="color:black" [class.d-none]="CreateContatc.controls.Email.valid || CreateContatc.controls.Email.untouched ">Email is required</small><br>
                      </div>
                      <!-- .floating-label-wrap -->
                  </div>
                  <!-- .lab-grid-cell lab-grid-cell--mb-2x -->
                  <div class="lab-grid-cell lab-grid-cell--mb-2x w-full">
                      <div class="floating-label-wrap">
                          <textarea class="floating-label-field floating-label-field--s1" id="field-7" placeholder="Textarea" row="15" formControlName="Message"></textarea>
                          <label for="field-7" class="floating-label">Message</label>
                          <small style="color:black" [class.d-none]="CreateContatc.controls.Message.valid || CreateContatc.controls.Message.untouched ">Message is required</small><br>
                      </div>
                      <!-- .floating-label-wrap -->
                  </div>
                  <!-- .lab-grid-cell lab-grid-cell--mb-2x -->
                </form>
              </div>
              <!-- .lab-grid -->
              <button style="background-color:#1089FF" type="submit" class="btn btn-primary btn-lg" [disabled]="CreateContatc.invalid" (click)="SendMessage()">Submit</button>
          </form>
      </div>
  </div>



</div>



<app-home-footer></app-home-footer>


<!--
<div class="site-section">
    <div class="container">
      <form [formGroup]="CreateContatc">
        <div class="row">
          <div class="col-md-12 form-group">
              <label for="fname">Subject</label>
              <mat-form-field class="example-full-width" style="width: 100%;">
              <input type="text" matInput formControlName="Subject" class="form-control form-control-lg">
              <mat-error *ngIf="CreateContatc.controls['Subject'].hasError('required')">
                Subject is required
              </mat-error>
            </mat-form-field>
            </div>
      </div>
      <div class="row">
          <div class="col-md-6 form-group">
              <label for="eaddress">Name</label>
              <mat-form-field class="example-full-width" style="width:100%">
              <input type="text" matInput formControlName="Name" class="form-control form-control-lg">
              <mat-error *ngIf="CreateContatc.controls['Name'].hasError('required')">
                Name is required
              </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-6 form-group">
              <label for="tel">Email Address</label>
              <mat-form-field class="example-full-width" style="width:100%">
              <input type="text" matInput formControlName="Email" class="form-control form-control-lg">
              <mat-error *ngIf="CreateContatc.controls['Email'].hasError('required')">
                Email is required
              </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row"> 
          <div class="col-md-12 form-group">
              <label for="message">Message</label>
              <mat-form-field class="example-full-width" style="width: 100%;">
              <textarea name="" matInput formControlName="Message"  cols="30" rows="10" class="form-control"></textarea>
              <mat-error *ngIf="CreateContatc.controls['Message'].hasError('required')">
                Message is required
              </mat-error>
            </mat-form-field>
          </div>
          
      </div>

      <div class="row">
          <div class="col-12">
              <input type="submit" value="Send Message" class="btn btn-primary rounded-0 px-3 px-5" (click)="SendMessage()">
          </div>
      </div>

      </form>
        
    </div>
</div>

<div class="section-bg style-1" style="background-image: url('../../../assets/HomeAssets/images/hero_1.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="icon flaticon-mortarboard"></span>
          <h3>Our Philosphy</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="icon flaticon-school-material"></span>
          <h3>Academics Principle</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
            Dolore, amet reprehenderit.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="icon flaticon-library"></span>
          <h3>Key of Success</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
            Dolore, amet reprehenderit.</p>
        </div>
      </div>
    </div>
  </div>

  --->
