<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="/../../../assets/HomeAssets/fonts/icomoon/style.css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/css/bootstrap.min.css">
<link rel="stylesheet" href="/../../../assets/HomeAssets/css/jquery-ui.css">
<link rel="stylesheet" href="/../../../assets/HomeAssets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/../../../assets/HomeAssets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/../../../assets/HomeAssets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/css/aos.css">
<link href="/../../../assets/HomeAssets/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/../../../assets/HomeAssets/css/style.css">
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <div class="header-top bg-light">

        <div style="background-color:ActiveBorder" class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">

                    <div class="mx-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">

                                <li>
                                    <a routerLink="/" class="nav-link text-left">Home</a>
                                </li>
                                <li class="active">
                                    <a routerLink="//about" class="nav-link text-left">About Us</a>
                                </li>
                                <li>
                                    <a routerLink="//testimonial" class="nav-link text-left">Testimonials</a>
                                </li>
                                <li><a routerLink="blog.html" class="nav-link text-left">Rides</a></li>
                                <li>
                                    <a routerLink="//contact" class="nav-link text-left">Contact Us</a>
                                </li>
                                <li *ngIf="id ==null">
                                    <a routerLink="/Auth/login" class="nav-link text-left">LOGIN/REGISTER</a>
                                </li>
                                <li *ngIf="id !=null && id.Roleid == 2">
                                    <a routerLink="/User/profile" class="nav-link text-left">Profile</a>
                                </li>
                                <li *ngIf="id !=null && id.Roleid == 1">
                                    <a routerLink="/Admin/dash" class="nav-link text-left">Dashboard</a>
                                </li>
                                <li *ngIf="id !=null">
                                    <a (click)="Logout()" class="nav-link text-left" routerLink="/">Logout</a>
                                </li>
                            </ul>                                                                                                                                                                                                                                                                                        
                        </nav>

                    </div>

                </div>
            </div>

        </div>

    </div>


    </div>
    
</body>


