<!doctype html>
<html lang="en">
  
	<body class="img js-fullheight" style="background-image:url(../../../assets/Image/hero_6.jpeg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">New Member?</h3>
						<form [formGroup]="RegisterForm" class="signin-form">
							<div class="form-group">
								<input type="text" class="form-control" formControlName="Firstname" placeholder="Firstname" required>
								<small class="text-white" [class.d-none]="RegisterForm.controls.Firstname.valid || RegisterForm.controls.Firstname.untouched ">
									FirstName is required
								  </small>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" formControlName="Lastname" placeholder="Lastname" required>
								<small class="text-white" [class.d-none]="RegisterForm.controls.Lastname.valid || RegisterForm.controls.Lastname.untouched ">
									Lastname is required
								  </small>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" formControlName="Email" placeholder="Email" required>
								<small class="text-white" *ngIf="RegisterForm.controls.Email.hasError('email')" [class.d-none]="RegisterForm.controls.Email.valid || RegisterForm.controls.Email.untouched ">
									Must Be Email
								  </small><small class="text-white" *ngIf="RegisterForm.controls.Email.hasError('required')" [class.d-none]="RegisterForm.controls.Email.valid|| RegisterForm.controls.Email.untouched ">
									Email is required
								  </small>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" formControlName="Username" placeholder="Username" required>
								<small  class="text-white" [class.d-none]="RegisterForm.controls.Username.valid || RegisterForm.controls.Username.untouched ">
									UserName is required
								  </small>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control" formControlName="Password" placeholder="Password" required>
								<small class="text-white left" style="text-align: left;" *ngIf="RegisterForm.controls.Password.hasError('pattern')" [class.d-none]="RegisterForm.controls.Password.valid || RegisterForm.controls.Password.untouched ">
									Must Be min length 8 
								  </small>
								  <small class="text-white" style="text-align: left;" *ngIf="RegisterForm.controls.Password.hasError('required')" [class.d-none]="RegisterForm.controls.Password.valid|| RegisterForm.controls.Password.untouched ">
									Password is required
								  </small>
							
							</div>

							<div class="form-group">
								<input type="file" #file (change)="UploadImage(file)" class="form-control"   required>
							</div>


							<div class="form-group">
								<button type="submit" (click)="createUser()" class="form-control btn btn-primary submit px-3">Sign Up</button>
							</div>

						</form>
						<p class="w-100 text-center">&mdash; Already have an account? &mdash;</p>
						<div class="form-group">
							<button routerLink="/Auth/login" type="submit" class="form-control btn btn-primary submit px-3">Login</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>


