<body>
    <div class="container-scroller">
   
        <app-admin-header></app-admin-header>
        <app-admin-side-bar></app-admin-side-bar>
        <div class="main-panel">
            <div class="content-wrapper">
        <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Ride</h4>
                <input type="button" class="B" value="ADD" (click)="OpenDialog()"/>
                <!-- <p class="card-description"> Add class <code>.table-striped</code>
                </p>-->
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> ID </th>
                        <th> Arrival Station </th>
                        <th> Depature Station </th>
                        <th> Depature Time</th>
                        <th> Capacity </th>
                        <th> Status </th>
                        <th> TrainID </th>
                        <th> StationID </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of adminService.AllRide">
                        <td class="py-1">
                            {{item.rideid}}
                        </td>
                        <td> {{item.arrivalstation}} </td>
                        <td> {{item.depaturestation}} </td>
                        <td> {{item.depaturetime}} </td>
                        <td> {{item.capacityy}} </td>
                        <td >
                           {{item.status}}
                        </td>
                        <td> {{item.trainsid}} </td>
                        <td> {{item.stationnid}} </td>
                        <td> <input type="button" class="D" value="Edit" (click)="OpenUpdateDialog(item.rideid)"> | 
                             <input type="button" class="D" value="Delete" (click)="OpenDeleteDialog(item.rideid)">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
        </div>
        
    </div>
    <app-admin-footer></app-admin-footer>
</body>



<ng-template   #CreateRides>
  <div class="A" >
  <form [formGroup]="CreateRideForm">
    <div class="container">
      <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Arrival Station</mat-label>
          <input type="text" matInput formControlName="arrivalstation" />
          <mat-error *ngIf="CreateRideForm.controls['arrivalstation'].hasError('required')">
              Arrival Station is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Depature Station</mat-label>
          <input type="text" matInput formControlName="depaturestation" />
          <mat-error *ngIf="CreateRideForm.controls['depaturestation'].hasError('required')">
            Depature Station is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Depature Time</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="depaturetime">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error *ngIf="CreateRideForm.controls['depaturetime'].hasError('required')">
            Depature Time is Required
          </mat-error>
        </mat-form-field>
       </div>
    </div>
     <div class="container">
      
       <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Capacity</mat-label>
          <input type="number" matInput formControlName="capacityy" />
          <mat-error *ngIf="CreateRideForm.controls['capacityy'].hasError('required')">
              Capacity is Required
          </mat-error>
        </mat-form-field>
       </div>
      <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Status</mat-label>
          <input type="text" matInput formControlName="status" />
          <mat-error *ngIf="CreateRideForm.controls['status'].hasError('required')">
              Status is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field formControlName="stationnid">
          <mat-label style="color: black;">Station Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of adminService.AllStation" [value]="item.stationid">
              {{item.stationname}}
            </mat-option>
          </mat-select>
        </mat-form-field>

       </div>
    </div>
    <div class="container">
      <div class="M">
        <mat-form-field formControlName="trainsid">
          <mat-label style="color: black;">Train Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of adminService.AllTrain" [value]="item.trainid">
              {{item.trainname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="container">
      <div class="C">
      <input type="button"   value="Create" (click)="CreateRide()"/>
    </div>
    <div class="C">
      <input type="button"  value="Close" mat-dialog-close="" />
    </div>
  </div>
  </form>
</div>
</ng-template>


<ng-template #DeleteRides>
  
    <mat-label style="color: black;margin-top: 50px; margin-left: 70px;"><b>Would you like to delete this Ride?</b></mat-label>
    
    <div class="delete">
      <input mat-dialog-close value="Yes" type="button" class="btn btn-success" (click)="DeleteRide()"/>
     <input mat-dialog-close value="No" type="button" class="btn btn-error">
  </div>
</ng-template>


<ng-template   #UpdateRides>
  <div class="A" >
  <form [formGroup]="UpdateRideForm">
    <div class="container">
      <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Arrival Station</mat-label>
          <input type="text" matInput formControlName="arrivalstation" />
          <mat-error *ngIf="UpdateRideForm.controls['arrivalstation'].hasError('required')">
              Arrival Station is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Depature Station</mat-label>
          <input type="text" matInput formControlName="depaturestation" />
          <mat-error *ngIf="UpdateRideForm.controls['depaturestation'].hasError('required')">
            Depature Station is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Depature Time</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="depaturetime">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error *ngIf="UpdateRideForm.controls['depaturetime'].hasError('required')">
            Depature Time is Required
          </mat-error>
        </mat-form-field>
       </div>
    </div>
     <div class="container">
      
       <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Capacity</mat-label>
          <input type="text" matInput formControlName="capacityy" />
          <mat-error *ngIf="UpdateRideForm.controls['capacityy'].hasError('required')">
              Capacity is Required
          </mat-error>
        </mat-form-field>
       </div>
      <div class="M">
        <mat-form-field >
          <mat-label style="color: black;">Status</mat-label>
          <input type="text" matInput formControlName="status" />
          <mat-error *ngIf="UpdateRideForm.controls['status'].hasError('required')">
              Status is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field formControlName="stationnid">
          <mat-label style="color: black;">Station Name</mat-label>
          <mat-select >
            <mat-option *ngFor="let item of adminService.AllStation" [value]="item.stationid">
              {{item.stationname}}
            </mat-option>
          </mat-select>
        </mat-form-field>

       </div>
    </div>
    <div class="container">
      <div class="M">
        <mat-form-field formControlName="trainid">
          <mat-label style="color: black;">Train Name</mat-label>
          <mat-select>
            <mat-option *ngFor="let item of adminService.AllTrain" [value]="item.trainid">
              {{item.trainname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="container">
      <div class="C">
      <input type="button"  mat-dialog-close value="Update" (click)="UpdateRide()"/>
    </div>
    <div class="C">
      <input type="button" mat-dialog-close value="Close" mat-dialog-close />
    </div>
  </div>
  </form>
</div>
</ng-template>