
.A
{
    background-color: #191c24;
}


.container
{
    display: flex;
    column-gap: 30px;
   
}
.M mat-form-field 
{
    /*background-color: black;*/
    margin-top: 20%;
    margin-left: 8%;
   /* margin-right: 5%;
    width: 50%;*/
}
.C
{
    margin-left: 15%;
}
.C input
{
    width: 200px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 3px;
}
input ,mat-select
{
   background-color:darkgray;
   margin: 8px 0;
}

.B
{
    width: 200px;
    color: white;
    background-color:black;
    border-color: white;
    border-width: 3px;
   
}

.D
{
    color: black;
    width: 100px;
    background-color: white;
    border-color: black;
    border-width: 3px;

}

.delete
{
    margin-left: 90px;
    margin-top: 20px;
}
.delete input
{
    width: 200px;
    background-color: black;
}
.N{
    margin-top: 16%;
    margin-left: 8%;
    background-color: white;
}

.N mat-label 
{
    margin-left: 10%;
    margin-top: 10%;
}

.N input
{
    margin-left: 10%;
}
