<div>
    <div class="service-39381">
    <div class="p-4">
        <h3><a routerLink="/rideDetails" (click) ="SendDetails(ArrivalStation,DepatureStation,DepatureTime,Capacity,TrainName,StationName,Price)"><span class="icon-room mr-1 text-primary"></span> {{ArrivalStation}} &mdash;
                {{DepatureStation}}</a></h3>
        <div class="d-flex">
            <div class="mr-auto">
                <span class="icon-date_range"></span>
                {{DepatureTime}} 
            </div>
            <div class="ml-auto price">
                <span class="bg-primary">{{Price}}</span>
            </div>

        </div>
    </div>
    </div>

</div>