
<body>
    <div class="container-scroller">

     <app-admin-header></app-admin-header>
     <app-admin-side-bar></app-admin-side-bar>

     <div class="main-panel">
        <div class="content-wrapper">
         


          <div class="row">
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0">Number Of Registerd User</h5>
                        <p class="text-success ml-2 mb-0 font-weight-medium">{{adminService.AllUser.length}}</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h3 style="margin-left: 45%;text-decoration: double;">{{adminService.AllUser.length}}</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      
                      <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0">Number Of Ride</h5>
                        <p class="text-success ml-2 mb-0 font-weight-medium">{{adminService.AllRide.length}}</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h3 style="margin-left: 45%;text-decoration: double;">{{adminService.AllRide.length}}</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0">Number Of Station</h5>
                        <p class="text-success ml-2 mb-0 font-weight-medium">{{adminService.AllStation.length}}</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h3 style="margin-left: 45%;text-decoration: double;">{{adminService.AllStation.length}}</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h5 class="mb-0">Number Of Tickets</h5>
                        <p class="text-success ml-2 mb-0 font-weight-medium">{{adminService.AllTickets.length}}</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <h3 style="margin-left: 45%;text-decoration: double;">{{adminService.AllTickets.length}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Chart</h4>
                </div>
                <div id="divChart">
                  <canvas id="myChart"></canvas>
              </div>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <app-admin-footer></app-admin-footer>
      </div>

     
    </div>
</body>