<body>
    <div class="container-scroller">
   
        <app-admin-header></app-admin-header>
        <app-admin-side-bar></app-admin-side-bar>
        <div class="main-panel">
            <div class="content-wrapper">
        <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Trains</h4>
                <!-- <p class="card-description"> Add class <code>.table-striped</code>
                </p>-->
                <input type="button" class="B" value="ADD" (click)="OpenDialog()">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> ID </th>
                        <th> Train Name </th>
                        <th> Capacity </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of adminServices.AllTrain">
                        <td class="py-1">
                            {{item.trainid}}
                        </td>
                        <td> {{item.trainname}} </td>
                        <td> {{item.capacityy}} </td>
                        <td> <input type="button" class="D" value="Edit" (click)="OpenUpdateDialog(item.trainid)"> | 
                             <input type="button" class="D" value="Delete" (click)="OpenDeleteDialog(item.trainid)">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
        </div>
        
    </div>
    <app-admin-footer></app-admin-footer>
</body>



<ng-template   #CreateTrains>
  <div class="A" >
  <form [formGroup]="CreateTrainForm">
    <div class="container">
      <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Train Name</mat-label>
          <input type="text" matInput formControlName="trainname" />
          <mat-error *ngIf="CreateTrainForm.controls['trainname'].hasError('required')">
              Train Name is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Capacity</mat-label>
          <input type="number" matInput formControlName="capacityy" />
          <mat-error *ngIf="CreateTrainForm.controls['capacityy'].hasError('required')">
            Capacity is Required
          </mat-error>
        </mat-form-field>
       </div>
       
    </div>
    <div class="container">
      <div class="C">
      <input type="button"  mat-dialog-close value="Create" (click)="CreateTrain()"/>
    </div>
    <div class="C">
      <input type="button"  value="Close" mat-dialog-close />
    </div>
  </div>
  </form>
</div>
</ng-template>


<ng-template #DeleteTrains>
  
  <mat-label style="color: black;margin-top: 50px; margin-left: 70px;"><b>Would you like to delete this Trian?</b></mat-label>
  
  <div class="delete">
    <input mat-dialog-close value="Yes" type="button" class="btn btn-success" (click)="DeleteTrain()"/>
   <input mat-dialog-close value="No" type="button" class="btn btn-error">
</div>
</ng-template>


<ng-template   #UpdateTrains>
  <div class="A" >
  <form [formGroup]="UpdateTrainForm">
    <div class="container">
      <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Train Name</mat-label>
          <input type="text" matInput formControlName="trainname" />
          <mat-error *ngIf="CreateTrainForm.controls['trainname'].hasError('required')">
              Train Name is Required
          </mat-error>
        </mat-form-field>
       </div>
       <div class="M">
        <mat-form-field>
          <mat-label style="color: black;">Capacity</mat-label>
          <input type="number" matInput formControlName="capacityy" />
          <mat-error *ngIf="CreateTrainForm.controls['capacityy'].hasError('required')">
            Capacity is Required
          </mat-error>
        </mat-form-field>
       </div>
       
    </div>
    <div class="container">
      <div class="C">
      <input type="button"  mat-dialog-close value="Update" (click)="UpdateTrain()"/>
    </div>
    <div class="C">
      <input type="button"  value="Close" mat-dialog-close />
    </div>
  </div>
  </form>
</div>
</ng-template>

