<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#0090e7" 
type = "ball-running-dots" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-home-header></app-home-header>
	<div class="site-section bg-light">
		<div class="container">
			<h2>All Rides of {{stationname}} Station</h2>
			<div class="row">
				<div *ngFor="let item of rideobj">
					<div class="service-39381" *ngIf="isToday(item.depaturetime)">
						<div class="p-4">
							<h3><a href="#"><span class="icon-room mr-1 text-primary"></span> {{item.arrivalstation}} &mdash; {{item.depaturestation}}</a></h3>
							<div class="d-flex">
								<div class="mr-auto">
									<span class="icon-date_range"></span>
									{{item.depaturetime | date:'yyyy/MM/dd'}} &mdash; {{item.depaturetime | date:'h:mm'}}
								</div>
								<div class="ml-auto price">
									<span class="bg-primary">{{item.price}} JD</span>
								</div>

							</div>

						</div>
						<div >
							<button routerLink="/paypal" (click)="Booked(item.rideid)" class="btn bg-secondary" style="margin-left:30px;margin-bottom:10px">Details</button>
						</div>
					</div>
					</div>

			</div>
		</div>
		

				

	</div>

	<app-home-footer></app-home-footer>

					