<body>
    <div class="container-scroller">
   
        <app-admin-header></app-admin-header>
        <app-admin-side-bar></app-admin-side-bar>
        <div class="main-panel">
            <div class="content-wrapper">
        <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Users</h4>
                <!-- <p class="card-description"> Add class <code>.table-striped</code>
                </p>-->
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> ID </th>
                        <th> First Name </th>
                        <th> Last Name </th>
                        <th> Date Of Birthday </th>
                        <th> Email </th>
                        <th> UserName </th>
                        <th> Image </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="py-1">
                            1
                        </td>
                        <td>Maya </td>
                        <td> Mukbil </td>
                        <td> 111111 </td>
                        <td> maya@gmail.com </td>
                        <td> maya12 </td>
                        <td class="py-1">
                            <img src="../../../assets/HomeAssets/images/hero_1.jpg" alt="image" />
                          </td>
                        <td> <input type="button" class=".btn-inverse-{}" value="Edit"> | <input type="button" class=".btn-inverse-{}" value="Add">| <input type="button" class=".btn-inverse-{}" value="Delete"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
        </div>
        
    </div>
    <app-admin-footer></app-admin-footer>
</body>
