<app-home-header></app-home-header>
<br>
<br>
<br>
<br>

<div class="container">
    <h2>Stations</h2>
    <br>
    <label>Search By Name </label><br>
    <input type="text" [(ngModel)]="stationName"/> 
    <input type="button" value="Search" (click)="Search()">
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div *ngFor="let item of admin.AllStation " class="col-md-6 col-lg-4 mb-4">
    
                <img style="height:300px" src="../../../assets/Image/reem2.png" alt="Image" class="img-fluid">
                <div class="service-39381">
                    <div class="p-4">
                        <h3>Station Name: {{item.stationname}}</h3>
                        <h3>Number Of Trains:</h3>
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h3>Number Of Rides:</h3>
                            </div>
                            <div class="ml-auto price">
                                <button style="color:#1089ff"> <span (click)="movetorides(item.stationid)" >ALL RIDES</span></button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
    
    
           
    
    
    
        </div>
        </div>
</div>

<br>
<br>
<br>
<br>
<app-home-footer></app-home-footer>
