<app-home-header></app-home-header>


<div class="container">
    <h2>Stations</h2>
    <div class="card-columns">
        <div  *ngFor="let item of admin.AllStation " class="card bg-success">
            <div class="card-body">
                <div class="p-4">
                    <h3 style="color:black" >{{item.stationname}}</h3>
                    <div class="d-flex">
                        <div style="color:black"  class="mr-auto">
                            <span ></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <button style="color:black"  (click)="movetorides(item.stationid)"  class="btn bg-light">All rides</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 
        <div class="card bg-danger">
            <div class="card-body">
                <div class="p-4">
                    <h3>Station Name</h3>
                    <div class="d-flex">
                        <div class="mr-auto">
                            <span></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <span style="color:black"  class="btn bg-light">All rides</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-danger">
            <div class="card-body">
                <div class="p-4">
                    <h3>Station Name</h3>
                    <div class="d-flex">
                        <div class="mr-auto">
                            <span></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <span style="color:black"  class="btn bg-light">All rides</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body">
                <div class="p-4">
                    <h3>Station Name</h3>
                    <div class="d-flex">
                        <div class="mr-auto">
                            <span></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <span style="color:black"  class="btn bg-light">All rides</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body">
                <div class="p-4">
                    <h3>Station Name</h3>
                    <div class="d-flex">
                        <div class="mr-auto">
                            <span></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <span style="color:black"  class="btn bg-light">All rides</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card bg-danger">
            <div class="card-body">
                <div class="p-4">
                    <h3>Station Name</h3>
                    <div class="d-flex">
                        <div class="mr-auto">
                            <span></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <span style="color:black" class="btn bg-light">All rides</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    </div>
</div>


<app-home-footer></app-home-footer>
