<app-home-header></app-home-header>
<br>
<br>
<br>
<br>

<div class="container">
    <h2>Stations</h2>
    <br>
    <label>Search By Name </label><br>
    <input type="text" [(ngModel)]="stationName"/> 
    <input type="button" value="Search" (click)="Search()">
    <br>
    <br>
    <div class="card-columns">
        <div  *ngFor="let item of admin.AllStation " class="card bg-success">
            <div class="card-body">
                <div class="p-4">
                    <h3 style="color:black" >{{item.stationname}}</h3>
                    <div class="d-flex">
                        <div style="color:black"  class="mr-auto">
                            <span ></span>
                            station location
                        </div>
                        <div class="ml-auto price">
                            <button style="color:black"  (click)="movetorides(item.stationid)"  class="btn bg-light">All rides</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<br>
<br>
<app-home-footer></app-home-footer>
